{% extends 'base.html' %}
{% block title %}{{tag.name}}{% endblock %}

{% block content %}
<h1>{{tag.name}}</h1>
<h4>Posts</h4>
<ul>
    {% for post in posts %}
        <li>
            <a href="/posts/{{post.id}}">{{post.title}}</a>
        </li>
    {% endfor %}
</ul>

<form>
    <button formaction="/tags/{{tag.id}}/edit" formmethod="GET">Edit
    </button>
    <button formaction="/tags/{{tag.id}}/delete" formmethod="POST">Delete
    </button>
</form>
<br>
<a href="/tags">Go back to all tags</a>
{% endblock %}